.fields_wrapper {
    display: none;
  }
.disconnection-detailed-table > p:first-child {
  display: none;
}

.disconnection-detailed-table-container {
  grid-template-rows: max-content repeat(24, 30px);
  grid-auto-flow: column;
  display: grid;
  gap: 1px;
}

.disconnection-detailed-table-cell.legend {
  writing-mode: vertical-rl;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 0;
  text-transform: capitalize;
}
.disconnection-detailed-table-cell.legend.current_day {
  background: #f25e1d;
  color: #fff;
}
.disconnection-detailed-table-cell {
  background: #f7fafc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disconnection-detailed-table-cell.head {
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
}
.disconnection-detailed-table-cell.grey {
  background: #edf2f7;
}
.disconnection-detailed-table-cell.head {
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
}
/* .disconnection-detailed-table-cell.current_day.has_disconnection {
    background: #F25E1D;
  } */
.disconnection-detailed-table-cell.has_disconnection.confirm_1 {
  background: #f25e1d;
}
/* .disconnection-detailed-table-cell.current_day {
    background: #FFE8DE;
    color: #fff;
  } */
.disconnection-detailed-table-cell.has_disconnection {
  color: #000;
  /* color: #F25E1D; */
  background: #e2e8f0;
}
.disconnection-detailed-table-cell {
  background: #f7fafc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.disconnection-detailed-table-cell.has_disconnection:before {
  content: "\e646"; /* Power Off */
  line-height: 1;
  font-family: "Material Icons";
  font-weight: normal;
  font-size: 18px;
}

.disconnection-detailed-table-cell .disconnection {
  display: none;
}
