
.container {
    background: #EDF2F7;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0;
  }
  .itemsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5px;
  
  }
  .item {
    background: #fff;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .item:hover {
      background-color: #F25E1D;
      color: #fff;
      cursor: pointer;
  }
  .empty {
    font-weight: 400;
  }  
  .favoritesAdd::after {
    content: "\f06f"; /* Star Outline */
    line-height: 1;
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
  }