* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-skip-ink: none;
  font-family: 'Exo 2', arial, sans-serif;
}
body {
  color: #283746;
  font-size: 1rem;
  line-height: 1.25;
}
.app-container {  
  min-width: 300px;
}
.fields_wrapper {
  display: none;
}

.site-main-container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 700px;
  margin-bottom: 25px;
}

.custom-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 25px;
  margin-bottom: 25px; */
  margin: 25px -5px;
}
.field-container {
  width: 50%;
  padding: 0 5px;
}
.queue-number {
  background: #EDF2F7;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.favorites-container {
  background: #EDF2F7;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0;
}
.favorites-items-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 5px;

}
.favorites-item {
  background: #fff;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.favorites-item:hover {
    background-color: #F25E1D;
    color: #fff;
    cursor: pointer;
}
.favorites-empty {
  font-weight: 400;
}
.selected-address {
  display: flex;
  background: #EDF2F7;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.favorites-button {
  margin-left: auto;
}
.favorites-add::after {
  content: "\f06f"; /* Star Outline */
  line-height: 1;
  font-family: "Material Icons";
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
}
.favorites-add:hover::after {
  cursor: pointer;
}
.favorites-remove::after {
  content: "\e838"; /* Star Filled */
  line-height: 1;
  font-family: "Material Icons";
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
}

.favorites-remove:hover::after {
  cursor: pointer;
}

.disconnection-detailed-table > p:first-child {
  display: none;
}

.disconnection-detailed-table-container {
  grid-template-rows: max-content repeat(24,30px);
  grid-auto-flow: column;
  display: grid;
  gap: 1px;
}

.disconnection-detailed-table-cell.legend {
  writing-mode: vertical-rl;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 0;
  text-transform: capitalize;
}
.disconnection-detailed-table-cell.legend.current_day {
  background: #F25E1D;
  color: #fff;
}
.disconnection-detailed-table-cell {
  background: #F7FAFC;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disconnection-detailed-table-cell.head {
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
}
.disconnection-detailed-table-cell.grey {
  background: #EDF2F7;
}
.disconnection-detailed-table-cell.head {
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
}
/* .disconnection-detailed-table-cell.current_day.has_disconnection {
  background: #F25E1D;
} */
.disconnection-detailed-table-cell.has_disconnection.confirm_1 {
  background: #F25E1D;
}
/* .disconnection-detailed-table-cell.current_day {
  background: #FFE8DE;
  color: #fff;
} */
.disconnection-detailed-table-cell.has_disconnection {
  color: #000;
  /* color: #F25E1D; */
  background: #E2E8F0;
}
.disconnection-detailed-table-cell {
  background: #F7FAFC;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.disconnection-detailed-table-cell.has_disconnection:before {
  content: "\e646"; /* Power Off */
  line-height: 1;
  font-family: "Material Icons";
  font-weight: normal;
  font-size: 18px;
}

.disconnection-detailed-table-cell .disconnection {
  display: none;
}

.page-title {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 15px 25px;
  background: #F25E1D;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}